@import 'tailwindcss';

.cards_Container {
  @apply grid grid-cols-12 gap-1 justify-around w-full;
}

.blog_Card {
  @apply border-[0.5px] border-blue-700 bg-blue-950 text-white rounded-2xl m-auto my-4 p-3 max-[390px]:w-[280px] max-[640px]:col-span-12 max-[640px]:w-[350px] max-[640px]:my-8 sm:col-span-12 sm:w-[450px] md:col-span-6 md:w-[350px] lg:col-span-4 lg:w-2xs xl:col-span-3 xl:w-[300px];
}

/* .CardContainer {
  @apply border-black rounded-[4px] border-2 p-2 px-6 m-4 grid grid-cols-4 gap-1 row-auto text-white;
} */