@import "tailwindcss";


* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    /* background-color: maroon; */
}

/* Scroll Bar Styling______________________________ */

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px deepskyblue;
    border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: dodgerblue;
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: deepskyblue
}

.goBackBtn {
    color: black;
    padding: 12px;
    border-radius: 8px;
    background-color: dodgerblue;
    transition: 0.4s;
}

.goBackBtn:hover {
    color: white;
    background-color: rgb(0, 116, 231);
}