footer {
    color: white;
    width: 100%;
    padding: 40px 40px 28px 40px;
    background-color: dodgerblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.footerContent {
    width: 100%;
    display: flex;
    justify-content: space-evenly !important;
    align-items: baseline;
    flex-wrap: wrap;
    text-align: left;
}

.logoMsg .footerLogo {
    width: 60px;
    height: 60px;
    transform: scale(0.9);
    margin-left: 0 !important;
    transition: all 0.4s;
}

.logoMsg .footerLogo:hover {
    transform: scale(1) rotate(360deg);
}

.logoMsg,
.quickLinks,
.connectUs,
.followUs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    width: 165px;
    gap: 8px;
}

.footerLinks {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footerLinks li a {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    transition: all 0.2s;
}

.footerLinks li a:hover {
    color: rgb(101, 216, 255);
}

ul {
    list-style: none;
    padding-left: 0 !important;
}

.connectUs span {
    font-size: 14px;
}

.mediaLinks {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}

.mediaLinks li a i {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.9);
    transition: all 0.2s;
}

.mediaLinks li a i:hover {
    color: rgb(101, 216, 255);
    transform: translateY(-2px);
}


/* Footer 2nd Div___________________________________ */


.copyRightDiv {
    width: 100%;
    padding-top: 30px;
    border-top: 0.2px solid rgba(223, 223, 223, 0.5)
}




/* Media Queries Start's_________________________________________ */

@media screen and (max-width: 800px) {

    .footerH6 {
        font-size: 18px;
    }

    .footerContent {
        width: 100%;
        display: flex;
        justify-content: space-evenly !important;
        gap: 50px;
    }


    .logoMsg,
    .quickLinks,
    .connectUs,
    .followUs {
        font-size: 14px !important;
    }

}

@media screen and (max-width: 605px) {

    .footerH6 {
        font-size: 20px;
    }

    .footerContent {
        flex-direction: column;
    }

    .logoMsg,
    .quickLinks,
    .connectUs,
    .followUs {
        width: 185px;
        font-size: 16px !important;
    }

    .connectUs span {
        font-size: 16px;
    }

}